body {
  padding-top: 70px;
  padding-bottom: 40px;
}

#form-container {
  margin-top: 30px;
  background: powderblue;
  padding-bottom: 10px;
}

h1 {
  text-align: center;
}

@media (max-width: 1200px) {
  #form-container {
    width: 1200px;
  }
}
