body {
  background-color: darkslategrey;
  padding-top: 60px;
  padding-bottom: 40px;
  color: whitesmoke;
  font-family: "Trebuchet MS", sans-serif;
}

#sort-sightings-container {
  padding: 30px 0;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("https://wallpaperaccess.com/full/104540.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 18%;
}

#sort-drop-down {
  width: 200px;
  margin: auto;
}

#sort-button {
  margin-top: 15px;
}

#sightings-list-container {
  margin-top: 20px;
}

#sighting-list-header {
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;
}

.sightings {
  margin-bottom: 5px;
}

#sightings-items-container {
  height: 400px;
}

@media (min-width: 992px) {
  #sightings-items-container,
  #sightings-list-container {
    max-width: 900px;
  }
}
