body {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: rgb(99, 224, 49);
}

#sighting-shapes-list {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

#shape-list-items {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
}
